<a id="light_indicator" class="off" onclick='OctoPrint.simpleApiGet("octolightHA")' style="font-size: 1.3em; color: #ffdf00; cursor: pointer; user-select: none">
    <i class="fa-solid fa-lightbulb"></i>
</a>
